<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" HTML5 Template">

  <!-- Site Title -->
  <title>Blog</title>

    {% include "css_files_list.html" %}


</head>

<body>

  {% include "header.html" %}


  <main>

    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="breadcrumb__inner">
              <div class="breadcrumb__left">
                <h1 class="breadcrumb__title">Blog</h1>
              </div>
              <div class="breadcrumb__right">
                <ul>
                  <li> <a href="index.html">home</a> </li>
                  <li> <a href="#">Blog</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb area end -->

    <!-- blog area start -->
    <section class="blog__area-inner pt-150 pb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="blog__item-inner">
              <div class="blog__thumb-inner shine">
                <a href="blog-details.html"><img src="static/imgs/inner/blog-01.jpg" alt="blog-img"></a>
              </div>
              <div class="blog__content-inner">
                <ul class="blog__meta-inner">
                  <li><a href="#">By admin</a></li>
                  <li><a href="#">Category</a></li>
                  <li><a href="#">Comments (05)</a></li>
                  <li><a href="#">Share (05)</a></li>
                </ul>
                <a href="blog-details.html">
                  <h2 class="blog__title-inner heading-animation">Building brands that last with strategies that work</h2>
                </a>
                <div class="p-animation">
                  <p class="blog__dis-inner">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking alayout. The <br> point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed</p>
                </div>
                <a class="blog__btn-inner btn-rollover" href="blog-details.html">readmore <i
                    class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="blog__item-inner">
              <div class="blog__thumb-inner shine">
                <a href="blog-details.html"><img src="static/imgs/inner/blog-02.jpg" alt="blog-img"></a>
              </div>
              <div class="blog__content-inner">
                <ul class="blog__meta-inner">
                  <li><a href="#">By admin</a></li>
                  <li><a href="#">Category</a></li>
                  <li><a href="#">Comments (05)</a></li>
                  <li><a href="#">Share (05)</a></li>
                </ul>
                <a href="blog-details.html">
                  <h2 class="blog__title-inner heading-animation">Innovative solutions for the modern marketer</h2>
                </a>
                <div class="p-animation">
                  <p class="blog__dis-inner">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking alayout. The <br> point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed</p>
                </div>
                <a class="blog__btn-inner btn-rollover" href="blog-details.html">readmore <i
                    class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="blog__item-inner">
              <div class="blog__thumb-inner shine">
                <a href="blog-details.html"><img src="static/imgs/inner/blog-03.jpg" alt="blog-img"></a>
              </div>
              <div class="blog__content-inner">
                <ul class="blog__meta-inner">
                  <li><a href="#">By admin</a></li>
                  <li><a href="#">Category</a></li>
                  <li><a href="#">Comments (05)</a></li>
                  <li><a href="#">Share (05)</a></li>
                </ul>
                <a href="blog-details.html">
                  <h2 class="blog__title-inner heading-animation">Maximize you potential amplify your message</h2>
                </a>
                <div class="p-animation">
                  <p class="blog__dis-inner">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking alayout. The <br> point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed</p>
                </div>
                <a class="blog__btn-inner btn-rollover" href="blog-details.html">readmore <i
                    class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
            <div class="blog__item-inner">
              <div class="blog__thumb-inner shine">
                <a href="blog-details.html"><img src="static/imgs/inner/blog-04.jpg" alt="blog-img"></a>
              </div>
              <div class="blog__content-inner">
                <ul class="blog__meta-inner">
                  <li><a href="#">By admin</a></li>
                  <li><a href="#">Category</a></li>
                  <li><a href="#">Comments (05)</a></li>
                  <li><a href="#">Share (05)</a></li>
                </ul>
                <a href="blog-details.html">
                  <h2 class="blog__title-inner heading-animation">Creating connections that convert to customers</h2>
                </a>
                <div class="p-animation">
                  <p class="blog__dis-inner">It is a long established fact that a reader will be distracted by the
                    readable content of a page when looking alayout. The <br> point of using Lorem Ipsum is that it has a
                    more-or-less normal distribution of letters, as opposed</p>
                </div>
                <a class="blog__btn-inner btn-rollover" href="blog-details.html">readmore <i
                    class="fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <aside class="blog__sidebar">
              <div class="blog__widget">
                <div class="blog__search">
                  <form action="#">
                    <input type="text" placeholder="Search anything">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                  </form>
                </div>
              </div>
              <div class="blog__widget">
                <span class="blog__widget-title">Blog Categories</span>
                <ul class="blog__category pt-30">
                  <li><a href="blog.html">Web Development</a> <span>19</span></li>
                  <li><a href="blog.html">Building Design</a> <span>05</span></li>
                  <li><a href="blog.html">Architecture Design</a> <span>17</span></li>
                  <li><a href="blog.html">Motion Design</a> <span>03</span></li>
                  <li><a href="blog.html">Graphics Design</a> <span>18</span></li>
                  <li><a href="blog.html">Interior Design</a> <span>33</span></li>
                </ul>
              </div>
              <div class="blog__widget">
                <span class="blog__widget-title">Latest News</span>
                <div class="blog__recent pt-30">
                  <div class="blog__ritem">
                    <div class="blog__rcontent">
                      <a href="blog.html">
                        <h4 class="blog__recenttitle">Business information about any of kind their </h4>
                      </a>
                      <small>January 17 2024</small>
                    </div>
                    <a href="blog.html"><img src="static/imgs/inner/r-1.jpg" alt="r1"></a>
                  </div>
                  <div class="blog__ritem">
                    <div class="blog__rcontent">
                      <a href="blog.html">
                        <h4 class="blog__recenttitle">Business information about any of kind their </h4>
                      </a>
                      <small>January 17 2024</small>
                    </div>
                    <a href="blog.html"><img src="static/imgs/inner/r-2.jpg" alt="r1"></a>
                  </div>
                  <div class="blog__ritem">
                    <div class="blog__rcontent">
                      <a href="blog.html">
                        <h4 class="blog__recenttitle">Business information about any of kind their </h4>
                      </a>
                      <small>January 17 2024</small>
                    </div>
                    <a href="blog.html"><img src="static/imgs/inner/r-3.jpg" alt="r1"></a>
                  </div>
                  <div class="blog__ritem">
                    <div class="blog__rcontent">
                      <a href="blog.html">
                        <h4 class="blog__recenttitle">Business information about any of kind their </h4>
                      </a>
                      <small>January 17 2024</small>
                    </div>
                    <a href="blog.html"><img src="static/imgs/inner/r-4.jpg" alt="r1"></a>
                  </div>
                </div>
              </div>
              <div class="blog__widget">
                <span class="blog__widget-title">Blog Categories</span>
                <div class="blog__tags pt-30">
                  <a href="blog.html">Start shape</a>
                  <a href="blog.html">Architecture</a>
                  <a href="blog.html">Large</a>
                  <a href="blog.html">Business</a>
                  <a href="blog.html">Stretegy</a>
                  <a href="blog.html">Item</a>
                  <a href="blog.html">Bold</a>
                  <a href="blog.html">Large Project</a>
                </div>
              </div>
              <div class="blog__widget">
                <div class="blog__notification">
                  <img src="static/imgs/inner/msg.png" alt="quote">
                  <p>The designer always use her creativity, I am happy to use service, Well done for your future hope
                    you will be best</p>
                  <i class="fa-solid fa-quote-right"></i>
                </div>
              </div>
            </aside>
          </div>
          <div class="blog__pagination-wrap">
            <ul class="blog__pagination-list">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#"><i class="fa-solid fa-angles-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- /blog area end -->



  </main>


  {% include 'footer.html' %}

</div>
</div>


{% include "js_files_list.html" %}


</body>

</html>