<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" HTML5 Template">

  <!-- Site Title -->
  <title>Blog Details</title>

    {% include "css_files_list.html" %}


</head>

<body>

  {% include "header.html" %}


  <main>

    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="breadcrumb__inner">
              <div class="breadcrumb__left">
                <h1 class="breadcrumb__title">Blog Details</h1>
              </div>
              <div class="breadcrumb__right">
                <ul>
                  <li> <a href="index.html">home</a> </li>
                  <li> <a href="#">Blog Details</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb area end -->

    <!-- blog area start -->
    <section class="blog__details pt-150 pb-150">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="blog__single">
              <div class="blog__thumb-inner">
                <img src="static/imgs/inner/blog-01.jpg" alt="blog-img" data-lag="0.3">
              </div>
              <div class="blog__content-inner">
                <ul class="blog__meta-inner">
                  <li><a href="blog.html">By admin</a></li>
                  <li><a href="blog.html">Category</a></li>
                  <li><a href="blog.html">Comments (05)</a></li>
                  <li><a href="blog.html">Share (05)</a></li>
                </ul>
                <h2 class="blog__title-inner">Building brands that last with strategies that work</h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                  looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                  distribution of letters, as opposed to Content here, content here', making it look like readable
                  English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
                  model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
                <h4>Benigits of provide your service many IT project builder that can help your idea generate</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form, by injected humour, or randomised words which don't look even slightly
                  believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text</p>
                <p>Established fact that a reader will be distracted by the readable content of a page when looking at
                  its layout. The poinusing Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                  opposed to using 'Content here, content here', making it look like readable English. Many desktop
                  publishing packages and web page editors now ui Lorem Ipsum as their default model text, and a search
                  for 'lorem ipsum' will uncover many web sites still in their infancy</p>
                <div class="blog__quote">
                  <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteratio some form, by injected humour, or randomised words which don't look even slightly
                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing hidden</p>
                </div>
                <div class="blog__thumb2">
                  <img class="border-radius-25" src="static/imgs/inner/blog-lg-1.jpg" alt="thumb1">
                </div>
                <h4>Driving Innovation and Growth: Strategies for Maximizing Profitability in a Dynamic Market</h4>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                  alteration in some form, by injected humour, or randomised words which don't look even slightly
                  believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                  embarrassing hidden in the middle of text</p>
                <p>Established fact that a reader will be distracted by the readable content of a page when looking at
                  its layout. The poinusing Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
                  opposed to using 'Content here, content here', making it look like readable English. Many desktop
                  publishing packages and web page editors now ui Lorem Ipsum as their default model text, and a search
                  for 'lorem ipsum' will uncover many web sites still in their infancy</p>
                <div class="blog__detailtag">
                  <div class="blog__detaillist">
                    <span>Tags: </span>
                    <ul class="blog__detailleft">
                      <li>App Design</li>
                      <li>Web development</li>
                    </ul>
                  </div>
                  <div class="blog__detailleft">
                    <span>Tags: </span>
                    <ul class="blog__social">
                      <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-dribbble"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="blog__form">
                  <span class="blog__form-title">Leave a reply</span>
                  <form action="#">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" name="Name" id="Name" placeholder="Name">
                      </div>
                      <div class="col-md-6">
                        <input type="email" name="E-mail" id="E-mail" placeholder="E-mail">
                      </div>
                      <div class="col-md-12">
                        <textarea name="msg" id="msg" placeholder="Comment"></textarea>
                      </div>
                      <div class="blog__submitwrap">
                        <button class="blog__submitbtn btn-rollover" type="submit">Leave a comment</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <aside class="blog__sidebar">
              <div class="blog__widget">
                <div class="blog__search">
                  <form action="#">
                    <input type="text" placeholder="Search anything">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                  </form>
                </div>
              </div>
              <div class="blog__widget">
                <span class="blog__widget-title">Blog Categories</span>
                <ul class="blog__category pt-30">
                  <li><a href="blog.html">Web Development</a> <span>19</span></li>
                  <li><a href="blog.html">Building Design</a> <span>05</span></li>
                  <li><a href="blog.html">Architecture Design</a> <span>17</span></li>
                  <li><a href="blog.html">Motion Design</a> <span>03</span></li>
                  <li><a href="blog.html">Graphics Design</a> <span>18</span></li>
                  <li><a href="blog.html">Interior Design</a> <span>33</span></li>
                </ul>
              </div>
              <div class="blog__widget">
                <span class="blog__widget-title">Latest News</span>
                <div class="blog__recent pt-30">
                  <div class="blog__ritem">
                    <div class="blog__rcontent">
                      <a href="blog.html">
                        <h4 class="blog__recenttitle">Business information about any of kind their </h4>
                      </a>
                      <small>January 17 2024</small>
                    </div>
                    <a href="blog.html"><img src="static/imgs/inner/r-1.jpg" alt="r1"></a>
                  </div>
                  <div class="blog__ritem">
                    <div class="blog__rcontent">
                      <a href="blog.html">
                        <h4 class="blog__recenttitle">Business information about any of kind their </h4>
                      </a>
                      <small>January 17 2024</small>
                    </div>
                    <a href="blog.html"><img src="static/imgs/inner/r-2.jpg" alt="r1"></a>
                  </div>
                  <div class="blog__ritem">
                    <div class="blog__rcontent">
                      <a href="blog.html">
                        <h4 class="blog__recenttitle">Business information about any of kind their </h4>
                      </a>
                      <small>January 17 2024</small>
                    </div>
                    <a href="blog.html"><img src="static/imgs/inner/r-3.jpg" alt="r1"></a>
                  </div>
                  <div class="blog__ritem">
                    <div class="blog__rcontent">
                      <a href="blog.html">
                        <h4 class="blog__recenttitle">Business information about any of kind their </h4>
                      </a>
                      <small>January 17 2024</small>
                    </div>
                    <a href="blog.html"><img src="static/imgs/inner/r-4.jpg" alt="r1"></a>
                  </div>
                </div>
              </div>
              <div class="blog__widget">
                <span class="blog__widget-title">Blog Categories</span>
                <div class="blog__tags pt-30">
                  <a href="blog.html">Start shape</a>
                  <a href="blog.html">Architecture</a>
                  <a href="blog.html">Large</a>
                  <a href="blog.html">Business</a>
                  <a href="blog.html">Stretegy</a>
                  <a href="blog.html">Item</a>
                  <a href="blog.html">Bold</a>
                  <a href="blog.html">Large Project</a>
                </div>
              </div>
              <div class="blog__widget">
                <div class="blog__notification">
                  <img src="static/imgs/inner/msg.png" alt="quote">
                  <p>The designer always use her creativity, I am happy to use service, Well done for your future hope
                    you will be best</p>
                  <i class="fa-solid fa-quote-right"></i>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <!-- /blog area end -->



  </main>


    {% include 'footer.html' %}

</div>
</div>


{% include "js_files_list.html" %}


</body>

</html>