<div class="wpo-contact-form-area">
    <form method="post" class="contact-validation-active" id="contact-form-main" action="contact/submit/">
        <div>
            <input type="text" class="form-control" name="name" id="name" placeholder="Your Name*">
        </div>
        <div>
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email*">
        </div>
        <div>
            <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone*">
        </div>
        <div>
            <select name="service" class="form-control">
                <option disabled="disabled" selected="">Services</option>
                <option>Leads Manangement Application</option>
                <option>Music School Applicaiton</option>
                <option>Web Development</option>
                <option>IT customization</option>
                <option>IOT customization</option>
            </select>
        </div>
        <div class="fullwidth">
            <textarea class="form-control" name="note"  id="note" placeholder="Message..."></textarea>
        </div>
        <div class="submit-area">
            <button type="submit" class="theme-btn-s2">Get in Touch</button>
            <div id="loader">
                <i class="ti-reload"></i>
            </div>
        </div>
        <div class="clearfix error-handling-messages">
            <div id="success">Thank you</div>
            <div id="error"> Error occurred while sending email. Please try again later. </div>
        </div>
    </form>
</div>