<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" HTML5 Template">

  <!-- Site Title -->
  <title>Service Details</title>

    {% include "css_files_list.html" %}


</head>

<body>

  {% include "header.html" %}


  <main>

    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="breadcrumb__inner">
              <div class="breadcrumb__left">
                <h1 class="breadcrumb__title">CRM Development</h1>
              </div>
              <div class="breadcrumb__right">
                <ul>
                  <li> <a href="index.html">home</a> </li>
                  <li> <a href="#">CRM Development</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb area end -->


    <!-- Service Details area start -->
    <section class="service__details-area pb-150 pt-150">
      <div class="container">

        <div class="service__details top pb-140">
          <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="img">
                <img class="border-radius-20" src="static/imgs/service/details/6.jpg" alt="Image">
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="content">
                <h2 class="service__details-title heading-animation">Smart CRM Systems That Deliver</h2>
                <div class="p-animation">
                  <p>Custom CRM development for sales automation, lead tracking, and data-driven insights. We create intuitive platforms that help teams collaborate and customers engage effortlessly.</p>
                </div>
                <ul class="list-angle">
                  <li class="heading-animation">End-to-end CRM development ensuring seamless customer interactions, team coordination, and actionable insights—all in one platform.</li>
                  <li class="heading-animation">Bespoke CRM software to unify customer data and automate engagement for lasting relationships.</li>
                </ul>                
              </div>
            </div>
          </div>
        </div>

        <div class="service__details mid pb-140">
          <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="content">
                <h2 class="service__details-title heading-animation">Seamless CRM Integration & Automation</h2>
                <div class="p-animation">
                  <p>Our CRM systems seamlessly integrate with your existing tools while automating repetitive tasks, ensuring smoother workflows and enhanced productivity across sales, marketing, and customer support teams.</p>
                </div>
                <div class="feature">
                  <div class="icon">
                    <img src="static/imgs/icon/phone.png" alt="Icon">
                  </div>
                  <div class="info">
                    <h4 class="title">Centralized Customer Data Management</h4>
                    <p>Consolidate all customer interactions—calls, emails, purchases, and support tickets—into a single, searchable platform for a 360° view of every client, enabling personalized engagement. </p>
                  </div>
                </div>
                <div class="feature">
                  <div class="icon">
                    <img src="static/imgs/icon/phone.png" alt="Icon">
                  </div>
                  <div class="info">
                    <h4 class="title">AI-Driven Insights & Forecasting</h4>
                    <p>Leverage AI-powered analytics to predict customer behavior, identify high-value leads, and optimize sales strategies with real-time dashboards and automated reporting </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="img">
                <img class="border-radius-20" src="static/imgs/service/details/7.jpg" alt="Image">
              </div>
            </div>
            <div class="col-xxl-12">
              <p>A well-implemented CRM system doesn’t just store data—it transforms how you connect with customers. By automating workflows, unifying communications, and delivering actionable insights, our solutions empower businesses to build stronger relationships, close deals faster, and scale efficiently. Let us tailor a CRM that grows with your ambitions.</p>
            </div>
          </div>
        </div>

     
      </div>
    </section>
    <!-- Service Details area end -->


  </main>


    {% include 'footer.html' %}


</div>
</div>


{% include "js_files_list.html" %}


</body>

</html>