 <!-- Footer area start -->
 <footer class="footer__area footer_two_area">
    <div class="footer__widgets">
        <div class="container">
            <div class="footer_top">
                <div class="row">
                    <div class="col-lg-7">
                        <h6 class="text-white">Have an idea?</h6>
                        <h2 class="text-white mb-4 mb-lg-0">Get in <span>touch</span></h2>
                    </div>
                    <div class="col-md-5 text-lg-end">
                        <a data-lag="0.3" href="contact.html">Get a quote <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="footer__logo">
                        <img src="static/imgs/logo/logo-white.svg" alt="Logo">                        
                        <p>© Olympica 2025 | All Rights Reserved</p>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="footer__service">
                        <h2 class="footer__title">Useful Links</h2>
                        <ul>
                            <li>
                                <a href="about.html">About Us</a>
                            </li>
                            <li>
                                <a href="about.html">Portfolio</a>
                            </li>
                            <li>
                                <a href="about.html">Blogs </a>
                            </li>                           
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="footer__service">
                        <h2 class="footer__title">More Servicve</h2>
                        <ul>
                            <li>
                                <a href="about.html">Web Development</a>
                            </li>
                            <li>
                                <a href="about.html">CRM Development</a>
                            </li>
                            <li>
                                <a href="about.html">Internet of Things (IOT)</a>
                            </li>
                            <li>
                                <a href="about.html">Custom ERP</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xxl-3 col-xl-3 col-lg-6 col-md-6">
                    <div class="footer__address">
                        <h2 class="footer__title">Address</h2>
                        <ul>
                            <li>
                                <span>
                                    <i class="fa-solid fa-paper-plane"></i>
                                </span>
                                <p>Madhapur, Hyderabad <br>India-500090</p>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-phone"></i>
                                </span>
                                <a href="tel:+88014420420">+91 7207237814</a>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-envelope"></i>
                                </span>
                                <a href="mailto:urcompany@mail.com">info@olympicatechnologies.co.in</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer area end -->