<footer class="wpo-site-footer">
            <div class="shape-bg">
                <svg width="1920" height="649" viewBox="0 0 1920 649" fill="none">
                    <path d="M112 78L527 0L1424 67L1920 649H0L112 78Z" fill="#FED201" />
                    <path d="M112 78L1920 40V649H0L112 78Z" fill="#40C9FF" />
                    <path d="M0 47L1862 94L1920 649H0V47Z" fill="#7665FF" />
                    <path opacity="0.05" d="M1585 459L1505 321L1585 158H1779L1920 649H1431L1585 459Z" fill="white" />
                    <path opacity="0.05" d="M0 47L133.003 286L255.436 281L303 475L158.151 649H0V47Z" fill="white" />
                </svg>

            </div>
            <div class="wpo-upper-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="widget about-widget">
                                <div class="logo widget-title">
                                    <img src="static/images/logo.svg" alt="blog">
                                </div>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, make
                                    specimen book.</p>
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="ti-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-twitter-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ti-google"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="widget link-widget">
                                <div class="widget-title">
                                    <h3>quick links:</h3>
                                </div>
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="blog.html">Blog Post</a></li>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="team.html">Members</a></li>
                                    <li><a href="project.html">Project</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="widget wpo-service-link-widget">
                                <div class="widget-title">
                                    <h3>Contact Us</h3>
                                </div>
                                <div class="contact-ft">
                                    <ul>
                                        <li><i class="fi ti-location-pin"></i>5th floor, Pranava Vaishnoi business park,
                                            <br> Kondapur, Hyderbad, India, 500084 </li>
                                        <li><i class="fi flaticon-phone-call-1"></i>+91 7207237814
                                            <br>
                                            +91 9063275249</li>
                                        <li><i class="fa flaticon-email-1" aria-hidden="true"></i>info@olympicatechnologies.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col col-xl-3 col-lg-4 col-md-6 col-sm-12 col-12">
                            <div class="widget newsletter-widget">
                                <div class="widget-title">
                                    <h3>newsletter:</h3>
                                </div>
                                <p>Lorem Ipsum has been the industry standard text ever since the printer took.</p>
                                <form>
                                    <div class="input-1">
                                        <input type="email" class="form-control" placeholder="Enter your email"
                                            required="">
                                    </div>
                                    <div class="submit clearfix">
                                        <button type="submit"><i class="fa flaticon-send"
                                                aria-hidden="true"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> <!-- end container -->
            </div>
            <div class="wpo-lower-footer">
                <div class="container">
                    <div class="row">
                        <div class="col col-xs-12">
                            <p class="copyright"> Copyright &copy; 2025 Olympica Tech.
                                All
                                Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
