<!-- Preloader -->
<div id="preloader">
    <div id="loader"></div>
  </div>

  <!-- Scroll to top -->
  <button id="scroll_top" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>


  <div id="smooth-wrapper">
    <div id="smooth-content">
  <!-- Header area start -->
  <header class="header__area pos-abs plr-100">
    <div class="header__inner">
      <div class="header__logo">
        <a href="index.html"><img class="logo" src="static/imgs/logo/logo.svg" alt="Site Logo"></a>
      </div>
      <div class="header__menu">
        <nav class="main-menu">
          <ul>
            <li><a href="index.html">Home</a></li>           
            <li><a href="about.html">About</a></li>

            <li class="has-dropdown"><a href="javascript:void(0)">Services</a>
              <ul class="main-dropdown">
                <li><a href="webdevelopment.html">Web Development</a></li>
                <li><a href="crmdevelopment.html">CRM Development</a></li>
                <li><a href="iot.html">Internet of Things (IOT)</a></li>
                <li><a href="customerp.html">Custom ERP</a></li>
              </ul>
            </li>            
            <li><a href="project.html">Projects</a></li>
            <li><a href="blog.html">blogs</a></li>  
            <li><a href="testimonials.html">Testimonials</a></li>  
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__others">       
        <div class="header__offcanvas">
          <button class="menu_icon">
            <img src="static/imgs/icon/menu.png" alt="Menu Icon">
          </button>
        </div>
      </div>
    </div>
  </header>
  <!-- Header area end -->

  <!-- Offcanvas area start -->
  <div class="offcanvas__area">
    <div class="offcanvas__inner">
      <div class="offcanvas__top">
        <img src="static/imgs/logo/logo-white.svg" alt="Logo">
        <button id="offcanvas_close"><i class="fa-solid fa-xmark"></i></button>
      </div>
     
      <div class="offcanvas__menu">
        <div class="offcanvas-menu">
          <ul>
            <li><a href="index.html">Home</a></li>           
            <li><a href="about.html">About</a></li>

            <li class="has-dropdown"><a href="javascript:void(0)">Services</a>
              <ul class="main-dropdown">
                <li><a href="#">Web Development</a></li>
                <li><a href="#">CRM Development</a></li>
                <li><a href="#">Internet of Things (IOT)</a></li>
                <li><a href="#">Custom ERP</a></li>
              </ul>
            </li>            
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">blogs</a></li>  
             <li><a href="#">Testimonials</a></li>  
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="offcanvas__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d1511.2499674845235!2d-73.99553882767792!3d40.75102778252164!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1686536419224!5m2!1sen!2sbd"
          loading="lazy"></iframe>
      </div>
      <div class="offcanvas__btm">
        <div class="footer__address-3">
          <ul>
            <li>
              <span><i class="fa-solid fa-location-dot"></i></span>
              <p class="text-white">Burmsille Street, MN 55337, <br>
                United States</p>
            </li>
            <li>
              <span><i class="fa-solid fa-phone"></i></span>
              <div>
                <a href="tel:+88014420420">+(1) 123 456 7890</a>
                <a href="tel:+88014420420">+(1) 098 765 4321</a>
              </div>
            </li>
            <li>
              <span><i class="fa-solid fa-envelope"></i></span>
              <div>
                <a href="mailto:info@driller.com">info@driller.com</a>
                <a href="mailto:info.example@driller.com">info.example@driller.com</a>
              </div>
            </li>
          </ul>
        </div>
        <div class="footer__social-3">
          <ul>
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Offcanvas area end -->
