<!DOCTYPE html>
<html lang="en">

{% include "imports.html" %}

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start preloader -->
        <div class="preloader">
            <div class="vertical-centered-box">
                <div class="content">
                    <div class="loader-circle"></div>
                    <div class="loader-line-mask">
                        <div class="loader-line"></div>
                    </div>
                    <img src="static/images/preloader.png" alt="">
                </div>
            </div>
        </div>
        <!-- end preloader -->
        <!-- Start header -->
        <header id="header" class="wpo-header-style-s3">
            <!-- end topbar -->
            <div class="wpo-site-header">
                <nav class="navigation navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
                                <div class="mobail-menu">
                                    <button type="button" class="navbar-toggler open-btn">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar first-angle"></span>
                                        <span class="icon-bar middle-angle"></span>
                                        <span class="icon-bar last-angle"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-7">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="index.html"><img src="static/images/logo.svg"
                                                                                   alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-1 col-1">
                                <div id="navbar" class="collapse navbar-collapse navigation-holder">
                                    <button class="menu-close"><i class="ti-close"></i></button>
                                    <ul class="nav navbar-nav mb-2 mb-lg-0">
                                        <li class="menu-item-has-children">
                                            <a class="active" href="#">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html">Home style 1</a></li>
                                                <li><a href="index-2.html">Home style 2</a></li>
                                                <li><a class="active" href="index-3.html">Home style 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About us</a></li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Services</a>
                                            <ul class="sub-menu">
                                                <li><a href="service.html">Service</a></li>
                                                <li><a href="service-single.html">Service Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Projects</a>
                                            <ul class="sub-menu">
                                                <li><a href="project.html">Project</a></li>
                                                <li><a href="project-single.html">Project Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-single.html">Shop Single</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="team.html">Team</a></li>
                                                <li><a href="team-single.html">Team Single</a></li>
                                                <li><a href="testimonial.html">Testimonial</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blog right sidebar</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                                <li><a href="blog-fullwidth.html">Blog fullwidth</a></li>
                                                <li class="menu-item-has-children">
                                                    <a href="#">Blog details</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="blog-single.html">Blog details right sidebar</a>
                                                        </li>
                                                        <li><a href="blog-single-left-sidebar.html">Blog details left
                                                                sidebar</a></li>
                                                        <li><a href="blog-single-fullwidth.html">Blog details
                                                                fullwidth</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div><!-- end of nav-collapse -->
                            </div>
                            <div class="col-lg-3 col-md-4 col-1">
                                <div class="header-right">
                                    <div class="header-search-form-wrapper">
                                        <div class="cart-search-contact">
                                            <button class="search-toggle-btn"><i
                                                    class="fi flaticon-search"></i></button>
                                            <div class="header-search-form">
                                                <form>
                                                    <div>
                                                        <input type="text" class="form-control"
                                                            placeholder="Search here...">
                                                        <button type="submit"><i
                                                                class="fi flaticon-search"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-form">
                                        <a class="theme-btn" href="contact.html">Conact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end of container -->
                </nav>
            </div>
        </header>
        <!-- end of header -->

        <!-- start of hero -->
        <section class="wpo-hero-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image" data-background="static/images/slider/slide-1.jpg">
                            <!-- <div class="gradient-overlay"></div> -->
                            <div class="container-fluid">
                                <div class="slide-content">
                                    <div data-swiper-parallax="200" class="slide-title-sub">
                                        <h5>Perfect Protection Company.</h5>
                                    </div>
                                    <div data-swiper-parallax="300" class="slide-title">
                                        <h2>Software Development & Manage.</h2>
                                    </div>
                                    <div data-swiper-parallax="400" class="slide-text">
                                        <p>It was popularised in the 1960s with the release sheets.
                                            We bring the right people together.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div data-swiper-parallax="500" class="slide-btns">
                                        <a href="about.html" class="theme-btn">Explore more</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end slide-inner -->
                    </div> <!-- end swiper-slide -->

                    <div class="swiper-slide">
                        <div class="slide-inner slide-bg-image" data-background="static/images/slider/slide-4.jpg">
                            <!-- <div class="gradient-overlay"></div> -->
                            <div class="container-fluid">
                                <div class="slide-content">
                                    <div data-swiper-parallax="200" class="slide-title-sub">
                                        <h5>Perfect Protection Company.</h5>
                                    </div>
                                    <div data-swiper-parallax="300" class="slide-title">
                                        <h2>Fastest Performance Web Hosting</h2>
                                    </div>
                                    <div data-swiper-parallax="400" class="slide-text">
                                        <p>It was popularised in the 1960s with the release sheets.
                                            We bring the right people together.</p>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div data-swiper-parallax="500" class="slide-btns">
                                        <a href="about.html" class="theme-btn">Explore more</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end slide-inner -->
                    </div> <!-- end swiper-slide -->
                </div>
                <!-- end swiper-wrapper -->

                <!-- swipper controls -->
                <div class="swiper-pagination"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </section>
        <!-- end of wpo-hero-slide-section-->

        <!-- start wpo-fun-fact-section -->
        {% include "fun-fact.html" %}
        <!-- end wpo-fun-fact-section -->

        <!-- start technut-cta-section -->
        <section class="technut-cta-section section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-12">
                        <div class="technut-cta-text">
                            <h1>We Are One Of The Best  client centric IT  Company In The World.</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="technut-cta-right">
                            <a href="service.html" class="theme-btn-s4">Contact Us<i
                                    class="fi flaticon-right-arrow-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end technut-cta-section -->

        <!-- start technut-team-section -->
<!--        <section class="technut-team-section-s2 section-padding">-->
<!--            <div class="container">-->
<!--                <div class="row align-items-center">-->
<!--                    <div class="col-lg-12 col-12">-->
<!--                        <div class="team-left-contant">-->
<!--                            <div class="wpo-section-title">-->
<!--                                <span><strong>//</strong> OUR TEAME <strong>//</strong></span>-->
<!--                                <h2>Awesome team members.</h2>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-12 col-12">-->
<!--                        <div class="team-right-contant">-->
<!--                            <div class="row">-->
<!--                                <div class="col-lg-3 col-md-6 col-sm-6 col-12">-->
<!--                                    <div class="team-meamber">-->
<!--                                        <img src="static/images/team/1.jpg" alt="">-->
<!--                                        <div class="text">-->
<!--                                            <h2><a href="team-single.html">Antasa Hamid</a></h2>-->
<!--                                            <span>WEB DEVELOPER</span>-->
<!--                                            <a href="#"><i class="fi flaticon-linkedin"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-3 col-md-6 col-sm-6 col-12">-->
<!--                                    <div class="team-meamber">-->
<!--                                        <img src="static/images/team/2.jpg" alt="">-->
<!--                                        <div class="text">-->
<!--                                            <h2><a href="team-single.html">Antasa Hamid</a></h2>-->
<!--                                            <span>WEB DEVELOPER</span>-->
<!--                                            <a href="#"><i class="fi flaticon-linkedin"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-3 col-md-6 col-sm-6 col-12">-->
<!--                                    <div class="team-meamber">-->
<!--                                        <img src="static/images/team/3.jpg" alt="">-->
<!--                                        <div class="text">-->
<!--                                            <h2><a href="team-single.html">Antasa Hamid</a></h2>-->
<!--                                            <span>WEB DEVELOPER</span>-->
<!--                                            <a href="#"><i class="fi flaticon-linkedin"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-3 col-md-6 col-sm-6 col-12">-->
<!--                                    <div class="team-meamber">-->
<!--                                        <img src="static/images/team/4.jpg" alt="">-->
<!--                                        <div class="text">-->
<!--                                            <h2><a href="team-single.html">Antasa Hamid</a></h2>-->
<!--                                            <span>WEB DEVELOPER</span>-->
<!--                                            <a href="#"><i class="fi flaticon-linkedin"></i></a>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->
        <!-- end technut-team-section -->

        <!-- start wpo-partners-section -->
        <section class="wpo-partners-section">
            <h2>partners</h2>
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="partner-grids partners-slider owl-carousel">
                            <div class="grid">
                                <img src="static/images/partners/1.png" alt>
                            </div>
                            <div class="grid">
                                <img src="static/images/partners/2.png" alt>
                            </div>
                            <div class="grid">
                                <img src="static/images/partners/3.png" alt>
                            </div>
                            <div class="grid">
                                <img src="static/images/partners/4.png" alt>
                            </div>
                            <div class="grid">
                                <img src="static/images/partners/5.png" alt>
                            </div>
                            <div class="grid">
                                <img src="static/images/partners/6.png" alt>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end container -->
        </section>
        <!-- end -wpo-partners-section -->

        <!-- start wpo-pricing-section -->
        <section class="wpo-pricing-section section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="wpo-section-title">
                            <span><strong>//</strong> Pricing Plan<strong>//</strong></span>
                            <h2>Choose Your Optimal Plan</h2>
                        </div>
                    </div>
                </div>
                <div class="wpo-pricing-wrap">
                    <div class="row">
                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="wpo-pricing-item">
                                <div class="wpo-pricing-top">
                                    <div class="pricing-thumb">
                                        <span>Basic</span>
                                    </div>
                                    <div class="wpo-pricing-text">
                                        <h2>$120<span>/per m²</span></h2>
                                        <p>FOR THE TEAMS WANTING TO TRY OUT SERVICES FOR SPLIT PROJECTS.</p>
                                    </div>
                                </div>
                                <div class="wpo-pricing-bottom">
                                    <div class="wpo-pricing-bottom-text">
                                        <ul>
                                            <li>Ut consequat rhoncus nisi vel</li>
                                            <li>Class aptent taciti sociosqu</li>
                                            <li>Proin non mattis augue. In vehicula</li>
                                            <li>SEO optimization</li>
                                            <li>Content tracking</li>
                                        </ul>
                                        <a href="pricing.html">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="wpo-pricing-item">
                                <div class="wpo-pricing-top">
                                    <div class="pricing-thumb">
                                        <span>Premium</span>
                                    </div>
                                    <div class="wpo-pricing-text">
                                        <h2>$210<span>/per m²</span></h2>
                                        <p>FOR THE TEAMS WANTING TO TRY OUT SERVICES FOR TRIAL PERIOD</p>
                                    </div>
                                </div>
                                <div class="wpo-pricing-bottom">
                                    <div class="wpo-pricing-bottom-text">
                                        <ul>
                                            <li>Planning & Supply Chain</li>
                                            <li>Class aptent taciti sociosqu</li>
                                            <li>Guest Posting</li>
                                            <li>SEO optimization</li>
                                            <li>Content tracking</li>
                                        </ul>
                                        <a href="pricing.html">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4 col-md-6 col-12">
                            <div class="wpo-pricing-item">
                                <div class="wpo-pricing-top">
                                    <div class="pricing-thumb">
                                        <span>Advanced</span>
                                    </div>
                                    <div class="wpo-pricing-text">
                                        <h2>$373<span>/per m²</span></h2>
                                        <p>ONE ACTIVE PROJECT PER MONTH BILLED ANNUALLY</p>
                                    </div>
                                </div>
                                <div class="wpo-pricing-bottom">
                                    <div class="wpo-pricing-bottom-text">
                                        <ul>
                                            <li>Planning & Supply Chain</li>
                                            <li>Class aptent taciti sociosqu</li>
                                            <li>Guest Posting</li>
                                            <li>SEO optimization</li>
                                            <li>Content tracking</li>
                                        </ul>
                                        <a href="pricing.html">CHOOSE PLAN</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- end container -->
        </section>
        <!-- end wpo-pricing-section -->

        <!-- start technut-project-section -->
        <section class="technut-project-section section-padding">
            <div class="shape-1">
                <svg width="162" height="59" viewBox="0 0 162 59" fill="none">
                    <path d="M28.5334 0L162 12.237L0 59L28.5334 0Z" fill="#40C9FF" />
                </svg>
            </div>
            <div class="shape-2"></div>
            <div class="shape-3">
            </div>
            <div class="shape-4">
                <svg width="95" height="35" viewBox="0 0 95 35" fill="none">
                    <path d="M16.7325 0L95 7.25926L0 35L16.7325 0Z" fill="#7665FF" />
                </svg>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="wpo-section-title">
                            <span><strong>//</strong> OUR portfolio <strong>//</strong></span>
                            <h2>Complete Projects</h2>
                        </div>
                    </div>
                </div>
                <div class="technut-project-wrap">
                    <div class=" technut-project-slider owl-carousel">
                        <div class=" technut-project-card">
                            <div class="images">
                                <img src="static/images/project/1.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">Cyber Security</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                        <div class=" technut-project-card">
                            <div class="images">
                                <img src="static/images/project/2.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">Web Design</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                        <div class=" technut-project-card">
                            <div class="images">
                                <img src="static/images/project/3.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">UX/UI Design</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                        <div class="technut-project-card">
                            <div class="images">
                                <img src="static/images/project/2.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">Web Design</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end technut-project-section -->

        <!-- start wpo-blog-section -->
        <section class="wpo-blog-section section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 colo-12">
                        <div class="wpo-blog-left-content">
                            <div class="wpo-section-title">
                                <span><strong>//</strong> OUR Blog <strong>//</strong></span>
                                <h2>If you want to daily articles subscribe now.</h2>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an
                                    unknown printer took.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the when an
                                    unknown printer took</p>
                            </div>
                            <a href="blog.html" class="theme-btn-s4">Subscribe<i
                                    class="fi flaticon-right-arrow-1"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <div class="wpo-blog-right-wrap wpo-blog-slider owl-carousel">
                            <div class="blog-card">
                                <div class="images">
                                    <img src="static/images/blog/img-1.jpg" alt="">
                                    <div class="shape">
                                        <img src="static/images/blog/bg-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="text">
                                    <span>06-September-2022</span>
                                    <h2>Many publishing and packages and web page editors model.</h2>
                                    <a href="blog-single.html" class="theme-btn">Read More</a>
                                </div>
                            </div>
                            <div class="blog-card">
                                <div class="images">
                                    <img src="static/images/blog/img-2.jpg" alt="">
                                    <div class="shape">
                                        <img src="static/images/blog/bg-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="text">
                                    <span>06-September-2022</span>
                                    <h2>Many publishing and packages and web page editors model.</h2>
                                    <a href="blog-single.html" class="theme-btn">Read More</a>
                                </div>
                            </div>
                            <div class="blog-card">
                                <div class="images">
                                    <img src="static/images/blog/img-1.jpg" alt="">
                                    <div class="shape">
                                        <img src="static/images/blog/bg-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="text">
                                    <span>06-September-2022</span>
                                    <h2>Many publishing and packages and web page editors model.</h2>
                                    <a href="blog-single.html" class="theme-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end wpo-blog-section -->

        <!-- start of wpo-site-footer-section -->
        {% include "scripts.html" %}
        <!-- end of wpo-site-footer-section -->


    </div>
    <!-- end of page-wrapper -->

    <!-- All JavaScript files
    ================================================== -->
{% include "scripts.html" %}
</body>

</html>
