<!DOCTYPE html>
<html lang="en">

{% include "imports.html" %}

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start preloader -->
        <div class="preloader">
            <div class="vertical-centered-box">
                <div class="content">
                    <div class="loader-circle"></div>
                    <div class="loader-line-mask">
                        <div class="loader-line"></div>
                    </div>
                    <img src="static/images/preloader.png" alt="">
                </div>
            </div>
        </div>
        <!-- end preloader -->
        <!-- Start header -->
        <header id="header">
            <!-- end topbar -->
            <div class="wpo-site-header">
                <nav class="navigation navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
                                <div class="mobail-menu">
                                    <button type="button" class="navbar-toggler open-btn">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar first-angle"></span>
                                        <span class="icon-bar middle-angle"></span>
                                        <span class="icon-bar last-angle"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-7">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="index.html"><img src="static/images/logo.svg"
                                            alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-1 col-1">
                                <div id="navbar" class="collapse navbar-collapse navigation-holder">
                                    <button class="menu-close"><i class="ti-close"></i></button>
                                    <ul class="nav navbar-nav mb-2 mb-lg-0">
                                        <li class="menu-item-has-children">
                                            <a class="active" href="#">Home</a>
                                            <ul class="sub-menu">
                                                <li><a class="active" href="index.html">Home style 1</a></li>
                                                <li><a href="index-2.html">Home style 2</a></li>
                                                <li><a href="index-3.html">Home style 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Services</a>
                                            <ul class="sub-menu">
                                                <li><a href="service.html">Service</a></li>
                                                <li><a href="service-single.html">Service Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Projects</a>
                                            <ul class="sub-menu">
                                                <li><a href="project.html">Project</a></li>
                                                <li><a href="project-single.html">Project Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-single.html">Shop Single</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="team.html">Team</a></li>
                                                <li><a href="team-single.html">Team Single</a></li>
                                                <li><a href="testimonial.html">Testimonial</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blog right sidebar</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                                <li><a href="blog-fullwidth.html">Blog fullwidth</a></li>
                                                <li class="menu-item-has-children">
                                                    <a href="#">Blog details</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="blog-single.html">Blog details right sidebar</a>
                                                        </li>
                                                        <li><a href="blog-single-left-sidebar.html">Blog details left
                                                                sidebar</a></li>
                                                        <li><a href="blog-single-fullwidth.html">Blog details
                                                                fullwidth</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div><!-- end of nav-collapse -->
                            </div>
                            <div class="col-lg-3 col-md-4 col-1">
                                <div class="header-right">
                                    <div class="header-search-form-wrapper">
                                        <div class="cart-search-contact">
                                            <button class="search-toggle-btn"><i
                                                    class="fi flaticon-search"></i></button>
                                            <div class="header-search-form">
                                                <form>
                                                    <div>
                                                        <input type="text" class="form-control"
                                                            placeholder="Search here...">
                                                        <button type="submit"><i
                                                                class="fi flaticon-search"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-form">
                                        <a class="theme-btn" href="contact.html">Conact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end of container -->
                </nav>
            </div>
        </header>
        <!-- end of header -->

        <!-- start of hero -->
        <section class="wpo-static-hero">
            <div class="hero-bg">
                <svg width="1920" height="938" viewBox="0 0 1920 938" fill="none">
                    <mask id="mask0_1_395" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="1920"
                        height="938">
                        <rect width="1920" height="938" fill="#FFF5ED" />
                    </mask>
                    <g mask="url(#mask0_1_395)">
                        <path d="M0 0H1920L1464 808L0 938V0Z" fill="#8C7BFF" />
                        <path opacity="0.05" d="M0 0H1920L1189 727L0 938V0Z" fill="white" />
                        <path d="M0 0H1920L921 642L0 938V0Z" fill="#8C7BFF" />
                        <path opacity="0.05" d="M0 0H1920L238 254L0 938V0Z" fill="white" />
                        <path d="M0 0H1920L165 63L0 938V0Z" fill="#8C7BFF" />
                        <path opacity="0.06" d="M1920 0H0L492 698L1920 938V0Z" fill="#8C7BFF" />
                        <path opacity="0.06" d="M1920 0H0L1120 882L1920 938V0Z" fill="#8C7BFF" />
                        <path opacity="0.06" d="M1920 0H0L748 921L1920 938V0Z" fill="#8C7BFF" />
                        <circle cx="1656" cy="806" r="44" fill="#FED201" />
                        <circle cx="1702" cy="806" r="44" fill="#40C9FF" />
                        <circle cx="1748" cy="806" r="44" fill="#7665FF" />
                    </g>
                </svg>
            </div>
            <div class="hero-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="wpo-hero-content">
                                <div class="slide-title">
                                    <h2>Digital IT
                                        Solutions.</h2>
                                </div>
                                <div class="slide-text">
                                    <p>Lorem Ipsum has been the industry standard dummy text ever since crambled it to
                                        make a type specimen book.</p>
                                </div>
                                <div class="clearfix"></div>
                                <div class="btns">
                                    <a href="service.html" class="theme-btn-s4">All Services<i
                                            class="fi flaticon-right-arrow-1"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="consult-pic wow fadeInRightSlow" data-wow-duration="2000ms">
                <img src="static/images/slider/1.png" alt="">
            </div>
        </section>
        <!-- end of hero slider -->

        <!-- start wpo-fun-fact-section -->
        {% include "funfact.html" %}
        <!-- end wpo-fun-fact-section -->

        <!-- start technut-about-section -->
        <section class="technut-about-section section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="technut-about-left">
                            <div class="shape">
                                <img src="static/images/about-shape.svg" alt="">
                                <div class="images">
                                    <img src="static/images/about.png" alt="">
                                    <div class="info">
                                        <h3><span class="odometer" data-count="28">00</span></h3>
                                        <p>Years of experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="technut-about-right">
                            <div class="wpo-section-title">
                                <span><strong>//</strong> ABOUT US <strong>//</strong></span>
                                <h2>We are providing best digital IT Solutions.</h2>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an
                                    unknown printer took a galley of type and scrambled it to make a type specimen book.
                                    It has survived not only five centuries, but also the leap into electronic
                                    typesetting.</p>
                            </div>
                            <div class="technut-about-text">
                                <p>Remaining essentially unchanged.
                                    It was popularised in the 1960s with the release
                                    of Letraset sheets containing
                                    Lorem Ipsum passages, and more recently with </p>
                                <div class="about-single-itam">
                                    <div class="icon">
                                        <img src="static/images/about-icon.svg" alt="">
                                    </div>
                                    <div class="text">
                                        <h3>Expert Member</h3>
                                        <p>Lorem Ipsum has been the industry's standard dummy text.</p>
                                    </div>
                                </div>
                                <a href="about.html" class="theme-btn-s4">Our about<i
                                        class="fi flaticon-right-arrow-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end technut-about-section -->

        <!-- start technut-service-section -->
        <section class="technut-service-section section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="wpo-section-title">
                            <span><strong>//</strong> OUR SERVICES <strong>//</strong></span>
                            <h2>Perfect IT Solutions</h2>
                        </div>
                    </div>
                </div>
                <div class="technut-service-wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="technut-service-card">
                                <div class="service-card-shape">
                                    <img src="static/images/service/service-shape.svg" alt="">
                                </div>
                                <div class="image">
                                    <img src="static/images/service/Icon-1.svg" alt="">
                                </div>
                                <div class="text">
                                    <h2>IT Management</h2>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the printer.
                                    </p>
                                </div>
                                <a href="service-single.html" class="theme-btn-s3">Details</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="technut-service-card">
                                <div class="service-card-shape">
                                    <img src="static/images/service/service-shape.svg" alt="">
                                </div>
                                <div class="image">
                                    <img src="static/images/service/Icon-2.svg" alt="">
                                </div>
                                <div class="text">
                                    <h2>Cyber Security</h2>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the printer.
                                    </p>
                                </div>
                                <a href="service-single.html" class="theme-btn-s3">Details</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="technut-service-card">
                                <div class="service-card-shape">
                                    <img src="static/images/service/service-shape.svg" alt="">
                                </div>
                                <div class="image">
                                    <img src="static/images/service/Icon-3.svg" alt="">
                                </div>
                                <div class="text">
                                    <h2>Web Development</h2>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the printer.
                                    </p>
                                </div>
                                <a href="service-single.html" class="theme-btn-s3">Details</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="technut-service-card">
                                <div class="service-card-shape">
                                    <img src="static/images/service/service-shape.svg" alt="">
                                </div>
                                <div class="image">
                                    <img src="static/images/service/Icon-4.svg" alt="">
                                </div>
                                <div class="text">
                                    <h2>Data Security</h2>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the printer.
                                    </p>
                                </div>
                                <a href="service-single.html" class="theme-btn-s3">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="service-view-more">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <a href="service.html" class="theme-btn-s4">View More<i
                                        class="fi flaticon-right-arrow-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="technut-service-shape-1">
            </div>
            <div class="technut-service-shape-2">
            </div>
            <div class="technut-service-shape-3">
                <svg width="101" height="84" viewBox="0 0 101 84" fill="none">
                    <path d="M6.21538 35L65.2615 0L101 79.3333L0 84L6.21538 35Z" />
                </svg>
            </div>
        </section>
        <!-- end technut-service-section -->

        <!-- start technut-cta-section -->
        <section class="technut-cta-section section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-12">
                        <div class="technut-cta-text">
                            <h1>We Are Best IT Service Provider Company In The World.</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="technut-cta-right">
                            <a href="service.html" class="theme-btn-s4">Contact Us<i
                                    class="fi flaticon-right-arrow-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end technut-cta-section -->

        <!-- start technut-team-section -->
        <section class="technut-team-section section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="team-left-contant">
                            <div class="wpo-section-title">
                                <span><strong>//</strong> OUR TEAME <strong>//</strong></span>
                                <h2>Awesome team members.</h2>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an
                                    unknown printer took.</p>
                            </div>
                            <div class="team-left-item">
                                <div class="images">
                                    <img src="static/images/team/1.svg" alt="">
                                </div>
                                <div class="text">
                                    <h2>Expert Member</h2>
                                    <p>Lorem Ipsum has been the industry's standard dummy text.</p>
                                </div>
                            </div>
                            <div class="team-left-item-s2">
                                <div class="images">
                                    <img src="static/images/team/2.svg" alt="">
                                </div>
                                <div class="text">
                                    <h2>Awesome Solution</h2>
                                    <p>Lorem Ipsum has been the industry's standard dummy text.</p>
                                </div>
                            </div>
                            <a href="about.html" class="theme-btn-s4">Join Us<i
                                    class="fi flaticon-right-arrow-1"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="team-right-contant">
                            <div class="shape">
                                <img src="static/images/team/bg-boder.svg" alt="">
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="team-meamber">
                                        <img src="static/images/team/1.jpg" alt="">
                                        <div class="text">
                                            <h2><a href="team-single.html">Antasa Hamid</a></h2>
                                            <span>WEB DEVELOPER</span>
                                            <a href="#"><i class="fi flaticon-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="team-meamber">
                                        <img src="static/images/team/2.jpg" alt="">
                                        <div class="text">
                                            <h2><a href="team-single.html">Antasa Hamid</a></h2>
                                            <span>WEB DEVELOPER</span>
                                            <a href="#"><i class="fi flaticon-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="team-meamber">
                                        <img src="static/images/team/3.jpg" alt="">
                                        <div class="text">
                                            <h2><a href="team-single.html">Antasa Hamid</a></h2>
                                            <span>WEB DEVELOPER</span>
                                            <a href="#"><i class="fi flaticon-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="team-meamber">
                                        <img src="static/images/team/4.jpg" alt="">
                                        <div class="text">
                                            <h2><a href="team-single.html">Antasa Hamid</a></h2>
                                            <span>WEB DEVELOPER</span>
                                            <a href="#"><i class="fi flaticon-linkedin"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end technut-team-section -->

        <!-- start technut-project-section -->
        <section class="technut-project-section section-padding">
            <div class="shape-1">
                <svg width="162" height="59" viewBox="0 0 162 59" fill="none">
                    <path d="M28.5334 0L162 12.237L0 59L28.5334 0Z" fill="#40C9FF" />
                </svg>
            </div>
            <div class="shape-2"></div>
            <div class="shape-3">
            </div>
            <div class="shape-4">
                <svg width="95" height="35" viewBox="0 0 95 35" fill="none">
                    <path d="M16.7325 0L95 7.25926L0 35L16.7325 0Z" fill="#7665FF" />
                </svg>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="wpo-section-title">
                            <span><strong>//</strong> OUR portfolio <strong>//</strong></span>
                            <h2>Complete Projects</h2>
                        </div>
                    </div>
                </div>
                <div class="technut-project-wrap">
                    <div class=" technut-project-slider owl-carousel">
                        <div class=" technut-project-card">
                            <div class="images">
                                <img src="static/images/project/1.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">Cyber Security</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                        <div class=" technut-project-card">
                            <div class="images">
                                <img src="static/images/project/2.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">Web Design</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                        <div class=" technut-project-card">
                            <div class="images">
                                <img src="static/images/project/3.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">UX/UI Design</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                        <div class="technut-project-card">
                            <div class="images">
                                <img src="static/images/project/2.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">Web Design</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end technut-project-section -->

        <!-- start technut-testimonial-section -->
        <section class="technut-testimonial-section section-padding">
            <div class="shape-bg">
                <svg width="1920" height="620" viewBox="0 0 1920 620" fill="none">
                    <path d="M0 543L1920 620V114L0 0V543Z" fill="#40C9FF" />
                    <path d="M0 543H1226L1674 570L1920 620V114L292 73L0 0V543Z" fill="#FED201" />
                    <path d="M0 77L1920 0V506L0 620V77Z" fill="#7665FF" />
                    <path opacity="0.05" d="M0 357L283.913 197L554 413L350.283 562L0 620V357Z" fill="white" />
                    <path opacity="0.05" d="M1920 220L1636.09 60L1366 276L1566 402L1811 384L1920 483V220Z"
                        fill="white" />
                </svg>
            </div>
            <div class="container">
                <div class="technut-testimonial-wrap">
                    <ul class="testimonial-img">
                        <li><img src="static/images/testimonial/1.jpg" alt=""></li>
                        <li><img src="static/images/testimonial/2.jpg" alt=""></li>
                        <li><img src="static/images/testimonial/1.jpg" alt=""></li>
                    </ul>
                    <div class="testimonial-conternt">
                        <div class="text">
                            <p>"It uses a dictionary of over 200 Latin words, combined with handful the model sentence
                                structures,
                                to generate lorem ipsum which looks reasonable the generated lorem ipsum is
                                therefore always free from repetition sentence structures, to generate lorem ipsum which
                                looks"</p>
                            <h2>Modern Sater</h2>
                            <span>Founder & CEO</span>
                        </div>
                        <div class="text">
                            <p>"It uses a dictionary of over 200 Latin words, combined with handful the model sentence
                                structures,
                                to generate lorem ipsum which looks reasonable the generated lorem ipsum is
                                therefore always free from repetition sentence structures, to generate lorem ipsum which
                                looks"</p>
                            <h2>Amanda Wilburn</h2>
                            <span>Founder & CEO</span>
                        </div>
                        <div class="text">
                            <p>"It uses a dictionary of over 200 Latin words, combined with handful the model sentence
                                structures,
                                to generate lorem ipsum which looks reasonable the generated lorem ipsum is
                                therefore always free from repetition sentence structures, to generate lorem ipsum which
                                looks"</p>
                            <h2>Modern Sater</h2>
                            <span>Founder & CEO</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end technut-testimonial-section -->

        <!-- start wpo-blog-section -->
        <section class="wpo-blog-section section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12 colo-12">
                        <div class="wpo-blog-left-content">
                            <div class="wpo-section-title">
                                <span><strong>//</strong> OUR Blog <strong>//</strong></span>
                                <h2>If you want to daily articles subscribe now.</h2>
                                <p>Lorem Ipsum has been the industry's standard dummy text ever since the when an
                                    unknown printer took.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the when an
                                    unknown printer took</p>
                            </div>
                            <a href="blog.html" class="theme-btn-s4">Subscribe<i
                                    class="fi flaticon-right-arrow-1"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-12 col-12">
                        <div class="wpo-blog-right-wrap wpo-blog-slider owl-carousel">
                            <div class="blog-card">
                                <div class="images">
                                    <img src="static/images/blog/img-1.jpg" alt="">
                                    <div class="shape">
                                        <img src="static/images/blog/bg-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="text">
                                    <span>06-September-2022</span>
                                    <h2>Many publishing and packages and web page editors model.</h2>
                                    <a href="blog-single.html" class="theme-btn">Read More</a>
                                </div>
                            </div>
                            <div class="blog-card">
                                <div class="images">
                                    <img src="static/images/blog/img-2.jpg" alt="">
                                    <div class="shape">
                                        <img src="static/images/blog/bg-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="text">
                                    <span>06-September-2022</span>
                                    <h2>Many publishing and packages and web page editors model.</h2>
                                    <a href="blog-single.html" class="theme-btn">Read More</a>
                                </div>
                            </div>
                            <div class="blog-card">
                                <div class="images">
                                    <img src="static/images/blog/img-1.jpg" alt="">
                                    <div class="shape">
                                        <img src="static/images/blog/bg-shape.png" alt="">
                                    </div>
                                </div>
                                <div class="text">
                                    <span>06-September-2022</span>
                                    <h2>Many publishing and packages and web page editors model.</h2>
                                    <a href="blog-single.html" class="theme-btn">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end wpo-blog-section -->


        <!-- start of wpo-site-footer-section -->
        {% include "footer.html" %}
        <!-- end of wpo-site-footer-section -->


    </div>
    <!-- end of page-wrapper -->

    <!-- All JavaScript files
    ================================================== -->
 <!-- All JavaScript files
    ================================================== -->
    {% include "scripts.html" %}
</body>

</html>