<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" HTML5 Template">

  <!-- Site Title -->
  <title>Service Details</title>

    {% include "css_files_list.html" %}


</head>

<body>

  {% include "header.html" %}


  <main>

    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="breadcrumb__inner">
              <div class="breadcrumb__left">
                <h1 class="breadcrumb__title">Internet of Things</h1>
              </div>
              <div class="breadcrumb__right">
                <ul>
                  <li> <a href="index.html">home</a> </li>
                  <li> <a href="#">Internet of Things</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb area end -->


    <!-- Service Details area start -->
    <section class="service__details-area pb-150 pt-150">
      <div class="container">

        <div class="service__details top pb-140">
          <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="img">
                <img class="border-radius-20" src="static/imgs/service/details/8.jpg" alt="Image">
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="content">
                <h2 class="service__details-title heading-animation">Smart IoT Solutions for Connected Futures</h2>
                <div class="p-animation">
                  <p>We design and deploy scalable IoT systems that connect devices, collect real-time data, and automate processes—transforming industries through intelligent monitoring, predictive analytics, and seamless control.</p>
                </div>
                <ul class="list-angle">
                  <li class="heading-animation"> Real-Time Monitoring & Predictive Maintenance: Our IoT platforms enable 24/7 asset tracking, performance analytics, and automated alerts—reducing downtime, optimizing efficiency, and cutting operational costs with AI-driven insights.</li>
                </ul>                
              </div>
            </div>
          </div>
        </div>

        <div class="service__details mid pb-140">
          <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="content">
                <h2 class="service__details-title heading-animation">Devices. Data. Decisions.</h2>
                <div class="p-animation">
                  <p>We deliver complete IoT ecosystems—hardware, connectivity, cloud integration, and analytics—to turn raw data into actionable intelligence for smarter decisions</p>
                </div>
                <div class="feature">
                  <div class="icon">
                    <img src="static/imgs/icon/phone.png" alt="Icon">
                  </div>
                  <div class="info">
                    <h4 class="title">Device Connectivity</h4>
                    <p>Seamless integration of sensors and actuators with robust wireless protocols for reliable data transmission.</p>
                  </div>
                </div>
                <div class="feature">
                  <div class="icon">
                    <img src="static/imgs/icon/phone.png" alt="Icon">
                  </div>
                  <div class="info">
                    <h4 class="title">Data Intelligence</h4>
                    <p>AI-powered analytics transform IoT data into predictive insights and automated actions. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
              <div class="img">
                <img class="border-radius-20" src="static/imgs/service/details/9.jpg" alt="Image">
              </div>
            </div>
            <div class="col-xxl-12">
              <p>Our IoT solutions bridge the physical and digital worlds, creating intelligent networks that optimize operations, reduce costs, and unlock new revenue streams. Whether industrial automation, smart infrastructure, or consumer applications, we build secure, scalable systems that evolve with your needs and drive transformation across your organization.</p>
            </div>
          </div>
        </div>

     
      </div>
    </section>
    <!-- Service Details area end -->


  </main>


    {% include 'footer.html' %}


</div>
</div>


{% include "js_files_list.html" %}


</body>

</html>