  <!-- All JS Files -->
  <script src="static/js/jquery-3.6.1.min.js"></script>
  <script src="static/js/bootstrap.bundle.min.js"></script>
  <script src="static/js/jquery.meanmenu.min.js"></script>
  <script src="static/js/swiper-bundle.min.js"></script>
  <script src="static/js/jquery.magnific-popup.min.js"></script>
  <script src="static/js/counter.js"></script>
  <script src="static/js/progressbar.js"></script>
  <script src="static/js/aos.js"></script>
  <script src="static/js/gsap.min.js"></script>
  <script src="static/js/SplitText.min.js"></script>
  <script src="static/js/ScrollSmoother.min.js"></script>
  <script src="static/js/ScrollTrigger.min.js"></script>
  <script src="static/js/vanilla-tilt.min.js"></script>
  <script src="static/js/main.js"></script>