<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" HTML5 Template">

  <!-- Site Title -->
  <title>Our Portfolio</title>

    {% include "css_files_list.html" %}


</head>

<body>

  {% include "header.html" %}


  <main>

    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="breadcrumb__inner">
              <div class="breadcrumb__left">
                <h1 class="breadcrumb__title">Project</h1>
              </div>
              <div class="breadcrumb__right">
                <ul>
                  <li> <a href="">home</a> </li>
                  <li> <a href="">Project</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb area end -->


    <!-- Portfolio area start -->
    <section class="portfolio__area-6 pt-150">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="portfolio__list-6">
              <div class="portfolio__item-4">
                <div class="shine">
                  <a href="project-details.html"><img src="static/imgs/portfolio/1.jpg" alt="Thumbnail" data-lag="0.3"></a>
                </div>
                <div class="portfolio__content-4">
                  <p>Lorem Ipsum is simply</p>
                  <a href="project-details.html">
                    <h2 class="portfolio__title-4">Content Creation Services</h2>
                  </a>
                </div>
              </div>
              <div class="portfolio__item-4">
                <div class="shine">
                  <a href="project-details.html"><img src="static/imgs/portfolio/2.jpg" alt="Thumbnail" data-lag="0.3"></a>
                </div>
                <div class="portfolio__content-4">
                  <p>Lorem Ipsum is simply</p>
                  <a href="project-details.html">
                    <h2 class="portfolio__title-4">Content Creation Services</h2>
                  </a>
                </div>
              </div>
              <div class="portfolio__item-4">
                <div class="shine">
                  <a href="project-details.html"><img src="static/imgs/portfolio/3.jpg" alt="Thumbnail" data-lag="0.2"></a>
                </div>
                <div class="portfolio__content-4">
                  <p>Lorem Ipsum is simply</p>
                  <a href="project-details.html">
                    <h2 class="portfolio__title-4">Content Creation Services</h2>
                  </a>
                </div>
              </div>
              <div class="portfolio__item-4">
                <div class="shine">
                  <a href="project-details.html"><img src="static/imgs/portfolio/4.jpg" alt="Thumbnail" data-lag="0.4"></a>
                </div>
                <div class="portfolio__content-4">
                  <p>Lorem Ipsum is simply</p>
                  <a href="project-details.html">
                    <h2 class="portfolio__title-4">Content Creation Services</h2>
                  </a>
                </div>
              </div>
              <div class="portfolio__item-4">
                <div class="shine">
                  <a href="project-details.html"><img src="static/imgs/portfolio/5.jpg" alt="Thumbnail" data-lag="0.3"></a>
                </div>
                <div class="portfolio__content-4">
                  <p>Lorem Ipsum is simply</p>
                  <a href="project-details.html">
                    <h2 class="portfolio__title-4">Content Creation Services</h2>
                  </a>
                </div>
              </div>
              <div class="portfolio__item-4">
                <div class="shine">
                  <a href="project-details.html"><img src="static/imgs/portfolio/6.jpg" alt="Thumbnail" data-lag="0.3"></a>
                </div>
                <div class="portfolio__content-4">
                  <p>Lorem Ipsum is simply</p>
                  <a href="project-details.html">
                    <h2 class="portfolio__title-4">Content Creation Services</h2>
                  </a>
                </div>
              </div>
              <div class="portfolio__item-4">
                <div class="shine">
                  <a href="project-details.html"><img src="static/imgs/portfolio/7.jpg" alt="Thumbnail" data-lag="0.3"></a>
                </div>
                <div class="portfolio__content-4">
                  <p>Lorem Ipsum is simply</p>
                  <a href="project-details.html">
                    <h2 class="portfolio__title-4">Content Creation Services</h2>
                  </a>
                </div>
              </div>
              <div class="portfolio__item-4">
                <div class="shine">
                  <a href="project-details.html"><img src="static/imgs/portfolio/8.jpg" alt="Thumbnail" data-lag="0.3"></a>
                </div>
                <div class="portfolio__content-4">
                  <p>Lorem Ipsum is simply</p>
                  <a href="project-details.html">
                    <h2 class="portfolio__title-4">Content Creation Services</h2>
                  </a>
                </div>
              </div>
              <div class="portfolio__item-4">
                <div class="shine">
                  <a href="project-details.html"><img src="static/imgs/portfolio/9.jpg" alt="Thumbnail" data-lag="0.3"></a>
                </div>
                <div class="portfolio__content-4">
                  <p>Lorem Ipsum is simply</p>
                  <a href="project-details.html">
                    <h2 class="portfolio__title-4">Content Creation Services</h2>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Portfolio area end -->


  </main>


  {% include 'footer.html' %}


</div>
</div>


{% include "js_files_list.html" %}


</body>

</html>