<!DOCTYPE html>
<html lang="en">

{% include "imports.html" %}

<body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start preloader -->
        <div class="preloader">
            <div class="vertical-centered-box">
                <div class="content">
                    <div class="loader-circle"></div>
                    <div class="loader-line-mask">
                        <div class="loader-line"></div>
                    </div>
                    <img src="static/images/preloader.png" alt="">
                </div>
            </div>
        </div>
        <!-- end preloader -->
        <!-- Start header -->
        <header id="header" class="wpo-site-header-s2">
            <!-- end topbar -->
            <div class="wpo-site-header">
                <nav class="navigation navbar navbar-expand-lg navbar-light">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
                                <div class="mobail-menu">
                                    <button type="button" class="navbar-toggler open-btn">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar first-angle"></span>
                                        <span class="icon-bar middle-angle"></span>
                                        <span class="icon-bar last-angle"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-7">
                                <div class="navbar-header">
                                    <a class="navbar-brand" href="index.html"><img src="static/images/logo.svg"
                                                                                                      alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-1 col-1">
                                <div id="navbar" class="collapse navbar-collapse navigation-holder">
                                    <button class="menu-close"><i class="ti-close"></i></button>
                                    <ul class="nav navbar-nav mb-2 mb-lg-0">
                                        <li class="menu-item-has-children">
                                            <a href="index.html">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="index.html">Home style 1</a></li>
                                                <li><a href="index-2.html">Home style 2</a></li>
                                                <li><a href="index-3.html">Home style 3</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about.html">About Us</a></li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Services</a>
                                            <ul class="sub-menu">
                                                <li><a href="service.html">Service</a></li>
                                                <li><a href="service-single.html">Service Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a class="active" href="#">Projects</a>
                                            <ul class="sub-menu">
                                                <li><a class="active" href="project.html">Project</a></li>
                                                <li><a href="project-single.html">Project Single</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="pricing.html">Pricing</a></li>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-single.html">Shop Single</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li><a href="team.html">Team</a></li>
                                                <li><a href="team-single.html">Team Single</a></li>
                                                <li><a href="testimonial.html">Testimonial</a></li>
                                                <li><a href="404.html">404 Error</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Blog right sidebar</a></li>
                                                <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                                                <li><a href="blog-fullwidth.html">Blog fullwidth</a></li>
                                                <li class="menu-item-has-children">
                                                    <a href="#">Blog details</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="blog-single.html">Blog details right sidebar</a>
                                                        </li>
                                                        <li><a href="blog-single-left-sidebar.html">Blog details left
                                                                sidebar</a></li>
                                                        <li><a href="blog-single-fullwidth.html">Blog details
                                                                fullwidth</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </div><!-- end of nav-collapse -->
                            </div>
                            <div class="col-lg-3 col-md-4 col-1">
                                <div class="header-right">
                                    <div class="header-search-form-wrapper">
                                        <div class="cart-search-contact">
                                            <button class="search-toggle-btn"><i
                                                    class="fi flaticon-search"></i></button>
                                            <div class="header-search-form">
                                                <form>
                                                    <div>
                                                        <input type="text" class="form-control"
                                                            placeholder="Search here...">
                                                        <button type="submit"><i
                                                                class="fi flaticon-search"></i></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="close-form">
                                        <a class="theme-btn" href="contact.html">Conact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end of container -->
                </nav>
            </div>
        </header>
        <!-- end of header -->

        <!-- start wpo-page-title -->
        <section class="wpo-page-title">
            <div class="container">
                <div class="row">
                    <div class="col col-xs-12">
                        <div class="wpo-breadcumb-wrap">
                            <h2>Project</h2>
                            <ol class="wpo-breadcumb-wrap">
                                <li><a href="index.html">Home</a></li>
                                <li>Project</li>
                            </ol>
                        </div>
                    </div>
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
        <!-- end page-title -->

        <!-- start technut-project-section -->
        <section class="technut-project-section section-padding">
            <div class="shape-1">
                <svg width="162" height="59" viewBox="0 0 162 59" fill="none">
                    <path d="M28.5334 0L162 12.237L0 59L28.5334 0Z" fill="#40C9FF" />
                </svg>
            </div>
            <div class="shape-2"></div>
            <div class="shape-3">
            </div>
            <div class="shape-4">
                <svg width="95" height="35" viewBox="0 0 95 35" fill="none">
                    <path d="M16.7325 0L95 7.25926L0 35L16.7325 0Z" fill="#7665FF" />
                </svg>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="wpo-section-title">
                            <span><strong>//</strong> OUR portfolio <strong>//</strong></span>
                            <h2>Complete Projects</h2>
                        </div>
                    </div>
                </div>
                <div class="technut-project-wrap">
                    <div class=" technut-project-slider owl-carousel">
                        <div class=" technut-project-card">
                            <div class="images">
                                <img src="static/images/project/1.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">Cyber Security</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                        <div class=" technut-project-card">
                            <div class="images">
                                <img src="static/images/project/2.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">Web Design</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                        <div class=" technut-project-card">
                            <div class="images">
                                <img src="static/images/project/3.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">UX/UI Design</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                        <div class="technut-project-card">
                            <div class="images">
                                <img src="static/images/project/2.png" alt="">
                            </div>
                            <div class="text">
                                <h2><a href="project-single.html">Web Design</a></h2>
                                <span>IT Security</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end technut-project-section -->

        <!-- start technut-cta-section -->
        <section class="technut-cta-section section-padding">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 col-12">
                        <div class="technut-cta-text">
                            <h1>We Are One Of The Best  client centric IT  Companies In The World.</h1>
                        </div>
                    </div>
                    <div class="col-lg-3 col-12">
                        <div class="technut-cta-right">
                            <a href="service.html" class="theme-btn-s4">Contact Us<i
                                    class="fi flaticon-right-arrow-1"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end technut-cta-section -->

        <!-- start wpo-fun-fact-section -->
        {% include "funfact.html" %}
        <!-- end wpo-fun-fact-section -->

        <!-- start of wpo-site-footer-section -->
        {% include "scripts.html" %}
        <!-- end of wpo-site-footer-section -->


    </div>
    <!-- end of page-wrapper -->

    <!-- All JavaScript files
    ================================================== -->
{% include "scripts.html" %}
</body>

</html>
