<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" HTML5 Template">

  <!-- Site Title -->
  <title>Our Service</title>

    {% include "css_files_list.html" %}


</head>

<body>

  {% include "header.html" %}


  <main>

    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="breadcrumb__inner">
              <div class="breadcrumb__left">
                <h1 class="breadcrumb__title">Service</h1>
              </div>
              <div class="breadcrumb__right">
                <ul>
                  <li> <a href="">home</a> </li>
                  <li> <a href="">Service</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb area end -->


    <!-- service area start -->
    <div class="service-area pt-150 pb-130">
      <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                <div class="service__item style2">
                    <div class="service__content">
                        <div class="icon-box">
                            <img src="static/imgs/service/4/4.png" alt="Service Icon">
                        </div>
                        <a href="service-details.html">
                            <div class="service__title">Pixel Perfect Design</div>
                        </a>
                        <p>Health and medical is a encompasses a wide range of topics related to health</p>
                        <a class="db-btn-arrow" href="service-details.html">Read More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                <div class="service__item style2">
                    <div class="service__content">
                        <div class="icon-box">
                            <img src="static/imgs/service/4/5.png" alt="Service Icon">
                        </div>
                        <a href="service-details.html">
                            <div class="service__title">Creative Edge Solutions</div>
                        </a>
                        <p>Health and medical is a encompasses a wide range of topics related to health</p>
                        <a class="db-btn-arrow" href="service-details.html">Read More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                <div class="service__item style2">
                    <div class="service__content">
                        <div class="icon-box">
                            <img src="static/imgs/service/4/6.png" alt="Service Icon">
                        </div>
                        <a href="service-details.html">
                            <div class="service__title">The Pixel Producers</div>
                        </a>
                        <p>Health and medical is a encompasses a wide range of topics related to health</p>
                        <a class="db-btn-arrow" href="service-details.html">Read More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                <div class="service__item style2">
                    <div class="service__content">
                        <div class="icon-box">
                            <img src="static/imgs/service/4/7.png" alt="Service Icon">
                        </div>
                        <a href="service-details.html">
                            <div class="service__title">Pixel Perfect Design</div>
                        </a>
                        <p>Health and medical is a encompasses a wide range of topics related to health</p>
                        <a class="db-btn-arrow" href="service-details.html">Read More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                <div class="service__item style2">
                    <div class="service__content">
                        <div class="icon-box">
                            <img src="static/imgs/service/4/8.png" alt="Service Icon">
                        </div>
                        <a href="service-details.html">
                            <div class="service__title">Creative Edge Solutions</div>
                        </a>
                        <p>Health and medical is a encompasses a wide range of topics related to health</p>
                        <a class="db-btn-arrow" href="service-details.html">Read More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                <div class="service__item style2">
                    <div class="service__content">
                        <div class="icon-box">
                            <img src="static/imgs/service/4/4.png" alt="Service Icon">
                        </div>
                        <a href="service-details.html">
                            <div class="service__title">The Pixel Producers</div>
                        </a>
                        <p>Health and medical is a encompasses a wide range of topics related to health</p>
                        <a class="db-btn-arrow" href="service-details.html">Read More <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <!-- service area end -->


  </main>


  {% include 'footer.html' %}


</div>
</div>


{% include "js_files_list.html" %}


</body>

</html>