<section class="technut-service-section section-padding">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="wpo-section-title">
                            <span><strong>//</strong> OUR SERVICES <strong>//</strong></span>
                            <h2>Perfect IT Solutions</h2>
                        </div>
                    </div>
                </div>
                <div class="technut-service-wrapper">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="technut-service-card">
                                <div class="service-card-shape">
                                    <img src="static/images/service/service-shape.svg" alt="">
                                </div>
                                <div class="image">
                                    <img src="static/images/service/Icon-1.svg" alt="">
                                </div>
                                <div class="text">
                                    <h2>IT Management</h2>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the printer.
                                    </p>
                                </div>
                                <a href="service-single.html" class="theme-btn-s3">Details</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="technut-service-card">
                                <div class="service-card-shape">
                                    <img src="static/images/service/service-shape.svg" alt="">
                                </div>
                                <div class="image">
                                    <img src="static/images/service/Icon-2.svg" alt="">
                                </div>
                                <div class="text">
                                    <h2>Cyber Security</h2>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the printer.
                                    </p>
                                </div>
                                <a href="service-single.html" class="theme-btn-s3">Details</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="technut-service-card">
                                <div class="service-card-shape">
                                    <img src="static/images/service/service-shape.svg" alt="">
                                </div>
                                <div class="image">
                                    <img src="static/images/service/Icon-3.svg" alt="">
                                </div>
                                <div class="text">
                                    <h2>Web Development</h2>
                                    <p>We specialize in creating modern, responsive, and user-friendly websites tailored to meet your business needs. 
                                       From design to deployment, our expert team ensures your online presence stands out and drives results.</p>
                                </div>
                                <a href="service-single.html" class="theme-btn-s3">Details</a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="technut-service-card">
                                <div class="service-card-shape">
                                    <img src="static/images/service/service-shape.svg" alt="">
                                </div>
                                <div class="image">
                                    <img src="static/images/service/Icon-4.svg" alt="">
                                </div>
                                <div class="text">
                                    <h2>Data Security</h2>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the printer.
                                    </p>
                                </div>
                                <a href="service-single.html" class="theme-btn-s3">Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="service-view-more">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-12">
                                <a href="service.html" class="theme-btn-s4">View More<i
                                        class="fi flaticon-right-arrow-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="technut-service-shape-1">
            </div>
            <div class="technut-service-shape-2">
            </div>
            <div class="technut-service-shape-3">
                <svg width="101" height="84" viewBox="0 0 101 84" fill="none">
                    <path d="M6.21538 35L65.2615 0L101 79.3333L0 84L6.21538 35Z" />
                </svg>
            </div>
        </section>