<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" HTML5 Template">

  <!-- Site Title -->
  <title>Team Details</title>

    {% include "css_files_list.html" %}


</head>

<body>

  {% include "header.html" %}


  <main>

    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="breadcrumb__inner">
              <div class="breadcrumb__left">
                <h1 class="breadcrumb__title">Our Team Details</h1>
              </div>
              <div class="breadcrumb__right">
                <ul>
                  <li> <a href="">home</a> </li>
                  <li> <a href="">Our Team Details</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb area end -->

    <!-- team details page -->
    <div class="team-blog-area pt-150 pt-130">
        <div class="container">
            <div class="team-details-page">
                <div class="row">
                    <div class="col-lg-5 text-center">
                        <div class="thumb mb-4 mb-lg-0">
                            <img src="static/imgs/team/1.png" alt="img">
                        </div>
                    </div>
                    <div class="col-lg-7 align-self-center ps-xl-5">
                        <h3 class="mb-2">Christine Pearson</h3>
                        <span class="designation">Design Expert</span>
                        <div class="details mt-4">
                            <h4>About Me</h4>
                            <p>Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl The quick, brown fox jumps over a lazy dog. </p>
                            <p>DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs vex bold Jim.</p>
                        </div> 
                        <ul class="social-media style-base mt-4 pt-2">
                            <li>
                                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team details page end -->
    <div class="team-details pt-100">
        <div class="container">
            <h4>Where can I get some?</h4>
            <p>Education is the process of acquiring knowledge, skills, values, and attitudes through various methods such as teaching, training DJs flock by when MTV ax quiz prog. Junk MTV quiz graced by fox whelps. Bawds jog, flick quartz, vex nymphs. Waltz, bad nymph, for quick jigs vex! Fox nymphs grab quick-jived waltz. Brick quiz whangs jumpy veldt fox. Bright vixens jump; dozy fowl quack. Quick wafting zephyrs vex bold Jim.</p>
        </div>
    </div>

    <!-- service area start -->
    <div class="service-area bg-relative pt-100 pb-100">
        <div class="container">
            <div class="section-title mb-lg-5 mb-4">
                <h6 class="sub-title mb-3 color-base">Top Service</h6>
                <h2 class="title">My Top Service Here</h2>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                    <div class="service__item style2 mb-4">
                        <div class="service__content">
                            <div class="icon-box">
                                <img src="static/imgs/service/4/4.png" alt="Service Icon">
                            </div>
                            <a href="service-details.html">
                                <div class="service__title">Pixel Perfect Design</div>
                            </a>
                            <p>Health and medical is a encompasses a wide range of topics related to health</p>
                            <a class="db-btn-arrow" href="service-details.html">Read More <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                    <div class="service__item style2 mb-4">
                        <div class="service__content">
                            <div class="icon-box">
                                <img src="static/imgs/service/4/5.png" alt="Service Icon">
                            </div>
                            <a href="service-details.html">
                                <div class="service__title">Creative Edge Solutions</div>
                            </a>
                            <p>Health and medical is a encompasses a wide range of topics related to health</p>
                            <a class="db-btn-arrow" href="service-details.html">Read More <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-xl-4 col-md-6 mb-4">
                    <div class="service__item style2 mb-4">
                        <div class="service__content">
                            <div class="icon-box">
                                <img src="static/imgs/service/4/6.png" alt="Service Icon">
                            </div>
                            <a href="service-details.html">
                                <div class="service__title">The Pixel Producers</div>
                            </a>
                            <p>Health and medical is a encompasses a wide range of topics related to health</p>
                            <a class="db-btn-arrow" href="service-details.html">Read More <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service area end -->

    </main>


    {% include 'footer.html' %}


</div>
</div>


{% include "js_files_list.html" %}


</body>

</html>