<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" HTML5 Template">

  <!-- Site Title -->
  <title>Contact</title>

  {% include "css_files_list.html" %}


</head>

<body>

  {% include "header.html" %}
  <main>

    <!-- Breadcrumb area start -->
    <section class="breadcrumb__area">
      <div class="container">
        <div class="row">
          <div class="col-xxl-12">
            <div class="breadcrumb__inner">
              <div class="breadcrumb__left">
                <h1 class="breadcrumb__title">Testimonials</h1>
              </div>
              <div class="breadcrumb__right">
                <ul>
                  <li> <a href="index.html">home</a> </li>
                  <li> <a href="#">Testimonials</a> </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Breadcrumb area end -->

    <!-- contact -->
   
     <section class="testimonials">
    <div class="container">        
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">"Hi, I'm Mischo Kopac, founder of Bewerbung.ai, a platform that helps jobseekers craft high-quality resumes and cover letters using AI-powered tools.
 
We collaborated with the team at Olympica Technologies on a series of custom internal tools — including Chrome extensions and Google Workspace apps — to support our SEO workflows, document management, and data research processes.
 
What impressed me most was their persistence, flexibility, and resourcefulness to solve complex technical challenges — even as the scope evolved mid-project. They stayed committed, connected the dots, and delivered strong results. While there were a few delays along the way, the outcome exceeded expectations.
 
I’d gladly recommend working with them if you’re looking for a smart, adaptable tech partner who can get things done."</p>
                        <div class="d-flex align-items-center mt-3">
                            <img src="../static/imgs/icon/mischo.jpeg" alt="Client 1" class="rounded-circle me-3">
                            <div>
                                <h6 class="mb-0">Mischo Kopac</h6>
                                <small>Founder, Bewerbung.ai, Talent Circle</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">"We have worked with Satya Prahlad and team for 7-8 months now and we are still keep adding functions and requests that he have developed successfully."</p>
                        <div class="d-flex align-items-center mt-3">
                            <img src="../static/imgs/icon/jesper.jpeg" alt="Client 1" class="rounded-circle me-3">
                            <div>
                                <h6 class="mb-0">Jesper Ekerlang</h6>
                                <small>Senior Consultant at StrongerAB, Sweden</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">"The results speak for themselves. Our business has grown significantly
                            since we started using their service. Thank you!"</p>
                        <div class="d-flex align-items-center mt-3">
                             <img src="../static/imgs/icon/jamie.jpeg" alt="Client 1" class="rounded-circle me-3">
                            <div>
                                <h6 class="mb-0">Jamie Smithies</h6>
                                <small>CEO, JJ Analytics</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <div class="row">
            <div class="col-md-6 mb-4">
                <video controls width="100%" height="100%">
                    <source src="static/video/jamie_1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>

       
    </div>
</section>
  
    <!-- /contact -->



  </main>


  {% include 'footer.html' %}

</div>
</div>


{% include "js_files_list.html" %}


</body>

</html>